@media screen and (max-width: 700px) and (min-width: 0px) {
.post_content {
    /* background-color: #ffd49f; */
    text-align: center;
    margin: 10px;
    /* display: block; */
    /* width: 50%; */
}

.post_content_inside {
    /* margin: 30px; */
}

.title {
    width: 100%;
    /* height: 120%; */
    /* padding: 12px 20px; */
    margin-bottom: 10px;
    display: inline-block;
}

.content {
    width: 100%;
    /* padding: 12px 20px; */
    /* margin: 10px 0; */
    display: inline-block;
}

.vote_select {
    border: solid;
    border-width: 2px;
    /* padding: 10px 15px; */
    border-radius: 3px;
    margin-bottom: 2px;
    /* margin: 5px 0; */
}

.submit_button {
    text-align: right;
}

.date_button {
    width: 45px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
}


.mini_header {
    font-size: 12px;
    text-align: left;
}

.mini_header_inside {
    border: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}


.search_bar {
    width: 50%
}

}


/* @media screen and (min-width:750px) {
  .body {
    background-color: rgb(237, 237, 237);
    display: flexbox;
    width: 75%;
    /* margin-right: 10%; */
/* margin-left: 20%; */
/* } 
/* } */

@media screen and (max-width: 1000px) and (min-width: 700px) {
.post_content {
    /* background-color: #ffd49f; */
    text-align: center;
    /* display: block; */
    /* width: 50%; */
}

.post_content_inside {
    /* margin: 30px; */
}

.title {
    width: 100%;
    /* padding: 12px 20px; */
    margin-bottom: 10px;
    display: inline-block;
}

.content {
    width: 100%;
    /* padding: 12px 20px; */
    /* margin: 10px 0; */
    display: inline-block;
}

.vote_select {
    border: solid;
    border-width: 2px;
    /* padding: 10px 15px; */
    border-radius: 3px;
    /* margin: 5px 0; */
}

.submit_button {
    text-align: right;
}

.date_button {
    width: 45px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
}


.mini_header {
    font-size: 12px;
    text-align: left;
}

.mini_header_inside {
    border: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}

.search_bar {
    width: 60%
}

}


@media screen and (min-width:1000px) {
.post_content {
    /* background-color: #ffd49f; */
    text-align: center;
    /* display: block; */
    /* width: 50%; */
}

.post_content_inside {
    /* margin: 30px; */
}

.title {
    width: 100%;
    /* padding: 12px 20px; */
    margin-bottom: 10px;
    display: inline-block;
}

.content {
    width: 100%;
    /* padding: 12px 20px; */
    /* margin: 10px 0; */
    display: inline-block;
}

.vote_select {
    border: solid;
    border-width: 2px;
    /* padding: 10px 15px; */
    border-radius: 3px;
    /* margin: 5px 0; */
}

.submit_button {
    text-align: right;
}

.date_button {
    width: 45px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
}


.mini_header {
    font-size: 12px;
    text-align: left;
}

.mini_header_inside {
    white-space:nowrap;
    border: solid;
    border-width: 2px;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}

.search_bar {
    width: 70%
}

}



