@media screen and (max-width: 700px) and (min-width: 0px) {

.comment_body {
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
}

.body {
  color: black;
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  word-wrap: break-word;
}

.com_li {
  list-style-type: none;
}

.com_ul {
  padding-left: 15px;
}

.base {
  width: 90%;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.submit {
  text-align: right;
  transform: translateX(calc(-1 * 2%));
}

.reply {
  width: 80%;
  margin-left: 15px;
  margin-right: 2px;
}

.comment_button {
  outline: none;
  border: none;
  color: white;
  border-radius: 100px;
  background-color: #3477cc;
  text-transform: none;
}
}



@media screen and (max-width: 1000px) and (min-width: 700px) {

.comment_body {
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
}


.body {
  color: black;
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-right: 5px
  /* text-align: center; */
}

.com_li {
  list-style-type: none;
}

.com_ul {
  padding-left: 15px;
}

.base {
  width: 85%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.submit {
  text-align: right;
  transform: translateX(calc(-1 * 6%));
}

.reply {
  width: 100%;
}

.comment_button {
  outline: none;
  border: none;
  color: white;
  border-radius: 100px;
  background-color: #3477cc;
  text-transform: none;
}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
.comment_body {
  background-color: white;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

.body {
  color: black;
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-right: 5px
    /* margin: 5px; */
    /* text-align: center; */
}


.com_li {
  list-style-type: none;
}

.com_ul {
  padding-left: 20px;
}

.base {
  width: 70ch;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.submit {
  text-align: right;
  transform: translateX(-30px);
}

.reply {
  width: 100%;
}

.comment_button {
  outline: none;
  border: none;
  color: white;
  border-radius: 100px;
  background-color: #3477cc;
  text-transform: none;
}
}




@media screen and (min-width:1200px) {

.comment_body {
  background-color: white;
    /* border: solid; */
    border-width: thin;
    border-radius: 5px;
}

.body {
  color: black;
  background-color: white;
  /* border: solid; */
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-right: 5px
  /* margin: 5px; */
  /* text-align: center; */
}


.com_li {
  list-style-type: none;
}

.com_ul {
  padding-left: 20px;
}

.base {
  width: 70ch;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.submit {
  text-align: right;
  transform: translateX(-30px);
}

.reply {
  width: 100%;
}

.comment_button {
    outline: none;
    border: none;
    color: white;
    border-radius: 100px;
    background-color: #3477cc;
    text-transform: none;
}
}








