


@media screen and (max-width: 700px) and (min-width: 0px) {
.header {
  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.hearvo {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}


.profile {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


/* @media screen and (min-width:750px) {
  .body {
    background-color: rgb(237, 237, 237);
    display: flexbox;
    width: 75%;
    /* margin-right: 10%; */
/* margin-left: 20%; */
/* } 
/* } */

@media screen and (max-width: 1000px) and (min-width: 700px) {
.header {
  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 100px;
  padding-bottom: 0px;
}


.hearvo {
  color: black;
  text-decoration: none;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}


.profile {
  color: black;
  text-decoration: none;
  /* text-align: right; */
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


@media screen and (min-width:1000px) {
.header {
  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 100px;
  padding-bottom: 0px;
}

.hearvo {
  color: black;
  text-decoration: none;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}

.profile {
  color: black;
  text-decoration: none;
  /* text-align: right; */
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


.profile_span {
  float: "right";
  margin-right: 20;
}


