


@media screen and (max-width: 700px) and (min-width: 0px) {

.search_bar {
  border-radius: 2px;
  /* display: inline; */
  /* width: 70%; */
}

.remark {
  display: none;
}

.header {

  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 10px;
  margin-top: -5px;
  padding-bottom: -10px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.hearvo {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}


.profile {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


/* @media screen and (min-width:750px) {
  .body {
    background-color: rgb(242, 242, 242);
    display: flexbox;
    width: 75%;
    /* margin-right: 10%; */
/* margin-left: 20%; */
/* } 
/* } */

@media screen and (max-width: 1000px) and (min-width: 700px) {

.search_bar {
  border-radius: 2px
}


.header {
  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.remark {
  /* display: none; */
}

.hearvo {
  color: black;
  text-decoration: none;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}


.profile {
  color: black;
  text-decoration: none;
  /* text-align: right; */
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


@media screen and (min-width:1000px) {
.search_bar {
  border-radius: 2px
}

.header {
  color: black;
  background-color: hsl(116, 49%, 45%);
  margin-bottom: 80px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.remark {
  /* display: none; */
}

.hearvo {
  color: black;
  text-decoration: none;
}

.hearvo:active {
  color: blue;

}

.hearvo:hover {
  color: orange;
}

.hearvo:visited {
  color: red,
}

.profile {
  color: black;
  text-decoration: none;
  /* text-align: right; */
}

.profile:active {
  color: blue;

}

.profile:hover {
  color: orange;
}

.profile:visited {
  color: red,
}
}


.profile_span {
  float: "right";
  margin-right: 20;
}


