@media screen and (min-width:0px) {
  .body {
    background-color: rgb(242, 242, 242);
    display: flexbox;
    width: 98%;
    /* margin-right: 2%; */
    margin-left: 1%;
  }
}


/* @media screen and (min-width:750px) {
  .body {
    background-color: rgb(242, 242, 242);
    display: flexbox;
    width: 75%;
    /* margin-right: 10%; */
/* margin-left: 20%; */
/* } 
/* } */

@media screen and (min-width:700px) {
  .body {
    background-color: rgb(242, 242, 242);
    display: flexbox;
    width: 60%;
    /* margin-right: 10%; */
    margin-left: 20%;
  }
}


@media screen and (min-width:1000px) {
  .body {
    background-color: rgb(242, 242, 242);
    display: flexbox;
    width: 50%;
    /* margin-right: 10%; */
    margin-left: 20%;
  }
}
